<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Firefly</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--try navigation-->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.fireflyz.com.my/images/shiny4/logo-firefly.png">
      <img src="http://www.fireflyz.com.my/images/shiny4/logo-firefly.png" alt="Firefly">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Flights <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <a href="#">Routes &amp; Schedule</a></p>
                          <p><a href="#">Destinations</a></p>
                          <p><a href="#">Book Now</a></p>
                          <p><a href="#">Mobile Booking</a></p>
                          <p><a href="#">FlyPREMIER</a></p>
                          <p><a href="#">Group Travel</a></p>
                          <p><a href="#">Corporate Travel</a></p>
                          <p><a href="#">Fees</a></p>
                          <p><a href="#">Tax Invoice</a></p>
                          <p><a href="#">General Conditions of Carriage</a></p>
                          <p><a href="#">General Conditions of Carriage for Cargo</a></p>
                          <p><a href="#">Terms & Conditions</a></p>
                          <p><a href="#">Online Checked-Baggage Allowance</a></p>
                          <p><a href="#">Web Check-in</a></p>
                          <p><a href="#">Self Check-in Kiosk</a></p>
                          <p><a href="#">Travel Insurance</a></p>
                          <p><a href="#">Extra Seat</a></p>
                          <p><a href="#">BonusLink</a></p>
          </ul>
        </li>

        <li><a href="#">Firefly Holiday</a></li>

        <li><a href="#">Insurance</a></li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Flights <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <a href="#">Routes &amp; Schedule</a></p>
                          <p><a href="#"> Why Firefly</a></p>
                          <p><a href="#"> Airport Information</a></p>
                          <p><a href="#"> Firefly Biz Zone</a></p>
                          <p><a href="#"> Firefly Rewards</a></p>
          </ul>
        </li>

        <li><a href="#">eMagazine </a></li>

        <li><a href="#">Contact Us </a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-flag"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span> </a></li>
        <li><a href="#"><img src="oku.png" alt="Firefly"></a></li>
      </ul>
    </div>
  </div>
</nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://she2016.org/img/chania2.jpg');"></div>
                <div class="carousel-caption">
                    <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p> 
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://wallpapercave.com/wp/46IcIP8.jpg');"></div>
                <div class="carousel-caption">
                    <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p> 
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://4.bp.blogspot.com/-JKuc12rKqhw/TkaeD_WZm9I/AAAAAAAAAGk/QN_sBu4JjsU/w1200-h630-p-nu/Cameron-Highlands-Gohoto.jpg');"></div>
                <div class="carousel-caption">
                    <h3>Chania</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p> 
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <!--FORM-->
 <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">FLIGHTS</a></li>
      <li><a href="http://www.fireflyholiday.com/Default.aspx">FLIGHTS + HOTEL</a></li>
      <li><a href="http://www.fireflyholiday.com/Default.aspx">HOTEL</a></li>
    </ul>

  <div class="panel panel-default">
    <div class="panel-body">

    <form class="form-inline" role="form">
      <ul class="pager">
        <li class="previous"><a href="#">Round Trip</a></li>
        <li class="previous"><a href="#">One Way</a></li>
      </ul>
  
  <div class="form-group">
   <div class="row">

  <div class="col-sm-3">
    <input type="text" class="form-control" placeholder="Origin">
    <button type="submit" class="btn btn-warning">+</button>
  </div>

  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Destination">
    <button type="submit" class="btn btn-warning">+</button>
  </div>

  <div class="col-xs-3">
    <input type="date" class="form-control" placeholder="Depart Date">
    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-calendar"></span></button>
  </div>

  <div class="col-xs-3">
    <input type="date" class="form-control" placeholder="Arrive Date">
    <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-calendar"></span></button>
  </div>
  </div>
  </br>

<div class="row">
  <div class="col-xs-1">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Adult
      <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">0</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
        </ul>
  </div>

  <div>
  <div class="col-xs-2">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Infant
      <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">0</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
        </ul>
         <span class="badge">!</span>
  </div>

  <div class="col-xs-3">
    <label><input type="radio"> I need to travel on this date</label>
    <label><input type="radio"> I need to travel on this date</label>
  </div>

    <div class="col-xs-2">
   <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Currency
      <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Australian Dollar (AUD) </a></li>
          <li><a href="#">Euro (EUR) </a></li>
          <li><a href="#">Sterling (GBP)</a></li>
          <li><a href="#">Malaysian Ringgit (MYR)</a></li>
          <li><a href="#">Singapore Dollar (SGD)</a></li>
          <li><a href="#">US Dollars (USD)</a></li>
        </ul>
      <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-down"></span></button>
  </div>

    <div class="col-xs-2">
    <input type="text" class="form-control" placeholder="Promo Code">
  </div>

  <div class="col-xs-2">
    <button type="submit" class="btn btn-warning">SEARCH</button>
  </div>
  </div>

  </br>
  </div>
  </div>
  </div>
  </div>

  <!--END FORM-->

    <!--LINK-->
  <div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
      <p>
      
        <a href="https://booking.fireflyz.com.my/Register.aspx">
        <span>Membership Sign Up</span>
        <span class="glyphicon glyphicon-user"></span> |

        <a href="https://booking.fireflyz.com.my/Register.aspx">
        <span>Member Login</span>
        <span class="glyphicon glyphicon-lock"></span> | 

        <a href="https://booking.fireflyz.com.my/Register.aspx">
        <span>Agent/Corporate Login</span>
        <span class="glyphicon glyphicon-envelope"></span> | 

        <a href="https://booking.fireflyz.com.my/Register.aspx">
        <span>Manage Booking</span>
        <span class="glyphicon glyphicon-calendar"></span> |

        <a href="https://booking.fireflyz.com.my/Register.aspx">
        <span>Web Check-In</span>
        <span class="glyphicon glyphicon-envelope"></span>
      
      </p>          
    </div>
  
  </div>
  </div>

<!--END LINK-->

<!--FLIGHT PROMOTION-->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      
      <div class="panel panel-default">  
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      
      <div class="panel panel-default">  
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body flight">
          <div class = "media">
            <a class = "pull-left" href = "#">
            <img src="http://218.204.62.55/images/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200"> 
            </a>
              <div class = "media-body">
                </br><h4 class = "media-heading">Koh Samui</h4>
                <p>from Subang</p> 
                <p>from MYR370</p>
                <p><span class="glyphicon glyphicon-envelope"></span> one way</p>
                <a><span class="glyphicon glyphicon-envelope"></span> Book Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END OF FLIGHT PROMOTION-->

<!--HOTEL PROMOTION-->
<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Hotel Promotion</h3>
                <p> (Flight + Hotel Deal)
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://218.204.62.55/images/cinqueterre.jpg" alt="">
                    <div class="caption">
                        <h3>Eastin Hotel Penang</h3>
                        <p>Subang (Kuala Lumpur), Malaysia</p>
                        <p>from <h3>MYR321</h3></p>
                        <p><span class="glyphicon glyphicon-user"></span> per person</p>
                        <p>% including tax</p>
                        <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary"><span class=" glyphicon glyphicon-menu-right"></span> Book Now</a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://218.204.62.55/images/cinqueterre.jpg" alt="">
                    <div class="caption">
                        <h3>Eastin Hotel Penang</h3>
                        <p>Subang (Kuala Lumpur), Malaysia</p>
                        <p>from <h3>MYR321</h3></p>
                        <p><span class="glyphicon glyphicon-user"></span> per person</p>
                        <p>% including tax</p>
                        <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary"><span class=" glyphicon glyphicon-menu-right"></span> Book Now</a>
                    </div>
                    </div>
                </div>
            </div>

           <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://218.204.62.55/images/cinqueterre.jpg" alt="">
                    <div class="caption">
                        <h3>Eastin Hotel Penang</h3>
                        <p>Subang (Kuala Lumpur), Malaysia</p>
                        <p>from <h3>MYR321</h3></p>
                        <p><span class="glyphicon glyphicon-user"></span> per person</p>
                        <p>% including tax</p>
                        <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-primary"><span class=" glyphicon glyphicon-menu-right"></span> Book Now</a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
              <div class="panel panel-microsite">
                <div class="panel-heading">Quick Links</div></br>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>New Routes</h4>
                    <h5>Additional New Domestic Services</h5>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>New Routes</h4>
                    <h5>Additional New Domestic Services</h5>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>New Routes</h4>
                    <h5>Additional New Domestic Services</h5>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>New Routes</h4>
                    <h5>Additional New Domestic Services</h5>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4>New Routes</h4>
                    <h5>Additional New Domestic Services</h5>
                  </div>
                </div>

                <div class="panel-footer">Subscribe to our newsletter</div>
              </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
